.header {
  background: white;
  position: relative; 
  z-index: 9999;
}

.header-inner {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  padding: 0;
  background: #f2f2f5;
  border: 1px solid #ddd;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-group {
  display: flex;
  align-items: center;
  gap: 20px; 
  padding: 0 20px;
}

.right-group {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 100px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  gap : 40px;
  padding: 0;
  margin: 0;
}

.list li {
  display: inline-block; 
  list-style: none;
  cursor: pointer;
  color: #000000;
  font-weight: bold;
}

.list li:hover {
  text-decoration: underline;
}

.list1 {
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  
}

.list1 li {
  list-style: none;
  cursor: pointer;
  
  width: 100px;
}

.logo1 {
  max-width: 230px;
  cursor: pointer;
}

.logo1 img {
  display: inline-block;
}

.list a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
}

.list li:nth-child(5) a {
  color: #ff7878;
  font-weight: bold;
}

.search {
  width: 300px;
  padding: 0.5rem 0;
  display: flex;

  font-family: "맑은고딕";
  border: 1px solid #e5ddd5;
  border-radius: 20px;
  color: #000000;
  font-size: 1rem;
  background: #ffffff;
}

.search:focus {
  outline: none;
  border-color: #d4a373;
  background: white;
  box-shadow: 0 0 0 3px rgba(212, 163, 115, 0.1);
}