.scroll-top-btn {
    position: fixed;
    bottom: 30px;
    right: 100px;
    padding: 7px 13px;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-color: #f1f1f1;
    color: #eee;
    border: none;
    cursor: pointer;

    font-size: 22px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.scroll-top-btn img {
    width: 24px;
    height: 24px;
    display: block;
}